<div>
    <div class="listComponent" #selectElem>
        <ul >        
            <li *ngFor="let movement of movementsList; let i=index" #anchor>
                {{movement.description}}
            </li>
        </ul>    
    </div> 
    
</div>
    


