.listComponent{
    
    height: 250px;
    overflow-y: scroll;
    li{
        padding: 15px;
        list-style: none;
        border: 1px solid;
        border-radius: 3%;
        border-color: #d9dbdb;
        display: flex;
    }
}