<div class="form-login">
       <div class="form-login-welcome">
              <span>
                     Bienvenido a tus Movimientos
              </span>
       </div>
       <div class="form-login-information">
              <form 
                     id="formEmailServerInformation"
                     [formGroup]="validateForm"
              >
              <div class="form-login-information-input">
                     <label for="userName">Email</label>
                     <div class="form-login-information-input-tag">
                            <input 
                                   id="userName"
                                   formControlName="userName"
                                   autocomplete="off"
                                   class="form-control"
                                   [ngClass]="{'ng-invalid ng-dirty':validateForm.controls['userName'].invalid && validateForm.controls['userName'].touched}"
                                   required 
                            />
                            <small 
                                   id="userName"
                                   *ngIf="validateForm.controls['userName'].invalid && 
                                   (validateForm.controls['userName'].dirty || 
                                   validateForm.controls['userName'].touched)"
                                   class="p-error"
                            >Campo email requerido</small>
                     </div> 
              </div>
           
              <div class="form-login-information-input">
                
                   <label for="password">password</label>

                <div class="form-login-information-input-tag">
                     <input 
                            id="password"
                            formControlName="password"
                            type="password"
                            autocomplete="off"
                            class="form-control"
                            [ngClass]="{'ng-invalid ng-dirty':validateForm.controls['password'].invalid && validateForm.controls['password'].touched}"
                            pInputText
                            required 
                     />
              
                     <small 
                            id="password"
                            *ngIf="validateForm.controls['password'].invalid && 
                            (validateForm.controls['password'].dirty || 
                            validateForm.controls['password'].touched)"
                            class="p-error"
                     >Campo password requerido</small>
                </div>                
            
              </div>

              <button  
                     type="button" 
                     (click)="handleAuhtUser()"
              >
                     Login
              </button>  
            
        </form>
       </div>
    <span *ngIf="userFind" class="user-not-find">Usuario no encontrado</span>
    
</div>
