.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    &-welcome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        padding: 10px;
        box-shadow: 2px 2px #888888;
        margin-top: 20px;                    
        width: 50%;
        background-color: aqua;
        border-radius: 6px;
        font-size: 15px;
    }
    &-information{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        padding: 10px;
        box-shadow: 4px 4px #888888;
        width: 50%;        
        border-radius: 6px;
        button{
            border-radius: 5px;
            cursor: pointer;
        }
        &-input{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;            
            &-tag{
                display: flex;
                flex-direction: column;
                small{
                    color: red;
                }
            }
        }
        
    }
    .user-not-find{
        color: red;
    }
}