.movements-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-list{
        width: 60%;
    }
    &-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 5px #888888;
        margin-top: 20px;
        margin-bottom: 20px;
        /* padding-top: 18px; */
        
        width: 50%;
        background-color: aqua;
        border-radius: 6px;
        font-size: 15px;
        &-title{
            font-size: 17px;
        }
    }
    &-session{
        margin-top: 15px;
        width: 100%;
        justify-content: right;
        display: flex;
        margin-right: 170px;
        button{
            padding: 8px;
            border-radius: 8px;
            background-color: whitesmoke;
            cursor: pointer;
        }
    }
}