<div class="movements-form">
    <div class="movements-form-session">
        <button (click)="sessionFinish()">cerra session</button>
    </div>
    <div class="movements-form-description">
        <span class="movements-form-description-title">Tus movimientos</span>
        <span>{{this.userInformacionExtra.email}}</span>
    </div>
    <div class="movements-form-list">
        <app-list
        class="movements-form-list"
        [movementsList]="movementsList"
        (getMoreInformation)="getMoreInformation($event)"
        *ngIf="movementsList.length>0"
        ></app-list>    
    </div>
    
</div>
